{% extends 'rango/base_bootstrap.html' %}
{% load staticfiles %}


{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Category
    {% endif %}
{% endblock %}

<link href="{% static 'css/signin.css' %}" rel="stylesheet">

{% block body_block %}
    {% if category %}
        <h2 class="form-signin-heading">Add a Page on {{ category }}</h2>
        <div>
            <form id="page_form" method="post" action="/rango/category/{{ category.slug }}/add_page/">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}<br>
                    {{ field }}<br>
                {% endfor %}
                <br>
                <button class="btn btn-primary" type="submit" name="submit">Add Page</button>
            </form>
        </div>
    {% else %}
        <p>A category by this name does not exist</p>
    {% endif %}
{% endblock %}